body{
    background:  #E1EEDD;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    color:#183A1D;
}

header{
    background: #183A1D;
    color:#E1EEDD;
    text-align: center;
    padding: 0.5rem;
}

main{
    padding: 2rem;
}

nav{
    background: #183A1D;
    padding: 0.2rem 2rem;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
}

nav a{
   padding: 10px;
   color: #fff;
   text-decoration: none;
}

nav .current > a{
    color:#F0A04B;
}